{% extends "GICA/base.html" %}
{% block title %} About Us Page {% endblock title%}
{% block content %}
<style>
h1 {text-align: center;}
div {text-align: center;}
</style>
<div class="section-home home-reasons">
<div class="main-container">

	<div class="container">

		<div class="row fadeIn animated">

			<div class="col-md-6">

			<img src="/static/GICA/images/gallery/khalid1.jpg" alt="" class="img-responsive" style="width:500px;height:500px;">
				<h4 class="member-name"><a href="#">Shek Khalid Legesse</a></h4>

	                        <div class="member-position">
	                            President
	                        </div>

				</div>
				
			<div class="col-md-6">

		<h1 class="title-style-3">About Gonder Alemaqef Islamic Association</h1>
<p align="justify" style="font-weight: bold; color: blue; font-size: 14px;">Gondar Alemaqef Islamic Association is a non-profit charitable association dedicated to supporting peoples with the economic, social and psychological crisis, providing social service for institutions that are in operation and newly built in Gondar city and its surroundings, provide necessary support for those who lost their families due to man-made and natural disasters in Gondar city and its surroundings, and helping our people who have been displaced from their homes and are in trouble. </p>
<h2 class="title-style-3">Messages From The Association Amir</h2>
<p align="center" style="font-weight: bold; color: blue; font-size: 14px;">بسم الله الرحمن الرحيم</p>
<p align="justify" style="font-weight: bold; color: blue; font-size: 14px;">الحمد لله رب العالمين والصلاة والسلام على سيد المرسلين الأولين والآخرين وعلى آل بيته الطيبين وأزواجه أمهات المؤمنين وأصحابه من الأنصار والمهاجرين •
السعي في قضاء حوائج الناس من الأخلاق الإسلامية العالية الرفيعة التي ندب إليها الإسلام وحث المسلمين عليها وجعلها من باب التعاون على البر والتقوى الذي أمرنا الله تعالى به فقال في محكم تنزيله ( وتعاونوا على البر والتقوى ولا تعاونوا على الإثم والعدوان واتقواالله إن الله شديد العقاب) المائدة (2) </p>
<p align="justify" style="font-weight: bold; color: blue; font-size: 14px;">የሰዎችን ጉዳይ ለማስፈፀም ወይም ለማስወገድ(ችግር:መከራ:ረሀብ •••••)መንቀሳቀስ ከፍ ያለ እና ትልቅ ቦታ የሚሰጠው እስላማዊ ስነ ምግባር ነው እስልምናም ይህንን ተግባር እንድንፈፅመው አዞናል ሙስሊሞችንም በዚህ ጉዳይ ላይ እንዲረባረቡ እንዲሸቀዳደሙ ገፋፍቶቸዋል
ሰዎችንበበጎ ስነ ምግባር እና አላህ በመፍራት ላይ መተጋገዝ ከትልቅ የአምልኮ ዘርፍ ይመደባል 
አላህ በቁርአኑ እንዲህ ይላል
(በበጎ ነገር እና አላህን በመፍራትም ተረዳዱ ግን በሀጢአት ወሰንን በማለፍ አትረዳዱ አላህንም ፍሩ አላህ ቅጣቱ ብርቱ ነውና) ማኢዳህ ቁጥር2
ሰዎችን ለማርዳት ለማገዝ መሯሯጥ በረካን ሲሳይን ከሚያመጡ ስራዎች ናቸው </p>
<p align="justify" style="font-weight: bold; color: blue; font-size: 14px;">ነብዩ ሶለላህ አለይሂ ወሰለም እንዲህ ብለዋል</p>
<p align="justify" style="font-weight: bold; color: blue; font-size: 14px;">عن عبد الله بن عمر رضي الله عنهما قال؛ أن رجلا جاء إلى النبي صلى الله عليه وسلم فقال يارسول الله أي الناس أحب إلى الله وأي الأعمال أحب إلى الله عزوجل فقال رسول الله صلى الله عليه وسلم أحب الناس إلى الله عزوجل أنفعهم للناس وأحب الأعمال إلى الله عزوجل سرور تدخله على مسلم ؛أو تكشف عنه كربة؛أو تقضي عنه دينا؛أو تطرد عنه جوعا؛ولأن أمشي مع أخ في حاجة أحب إلي من أعتكف في هذاالمسجد يعني مسجد المدينة</p>
<p align="justify" style="font-weight: bold; color: blue; font-size: 14px;">ከአብደላህ ኢብኑ ኡመር አላህ ይወደድላቸውና አሉ:
የሆነ ሰው ወደ ነብዩ ሶለላህ አለይሂ ወሰለም መጣ ከዛም አላቸው; አንቱ የአላህ መለክተኛ ከሰዎች እና ከስራዎች ከአላህ ዘንድ ተወዳጅነት ያለው የቱ ነው ብሎ ጠየቀ? የአላህም መልክተኛ እንዲህ አሉ; ከሰዎች ሁሉ ከአላህ ዘንድ ተወዳጁ ለሰዎች ጠቃሚ መሆን ነው አሉ;ከስራዎች ሁሉ ከአላህ ዘንድ ተወዳጁ አንድን ሙስሊም ማስደሰት ወይም ችግሩን ማስወገድወይም እዳውን መክፈል ወይም ረሀቡንማስታገስ ነው አሉከአንድ ሙስሊም ጋር ጉዳዩን ለማስፈፀም መሄዴ ከእኔ መስጊድ(የነብዩ መስጊድ መዲና) አላህን እየተገዛው ቁጭ ከማለትይበልጣል አሉ።
በአጠቃላይ ሰዎችን ሙስሊሞችን ለመርዳት መንቀሳቀስ ትልቅ አጀር ምንዳ የሚያስገኝ ወደ አላህ ከምንቃረብባቸው የኢባዳ ዘርፎች በዋነኛነት ይጠቀሳል በዚህ በተከበረ ስራ የምንሰራ የምንሳተፍ ወንድም እና እህቶች ሌሎችንም በዚህ በተቀደሰ ተግባር የምናሳትፍ እንሁን ስራችንም ለእሱ ብለን የምንሰራአላህ ያድርገን። </p>

<p align="justify" style="font-weight: bold; color: blue; font-size: 14px;">
قد مات قوم وماماتت مكارمهم
وعاش قوم وهم في الناس أموات </p>
<p align="center" style="font-weight: bold; color: blue; font-size: 14px;">ኢማሙ ሻፊእይ አሉ ሰዎች በእርግጥ ሙተዋል ጥሩ ስነምግባሮቻቸው ግን አትሞትም በሰዎች ዘንድ ቢሞቱም ስራዎቻቸው ግን ሂያው ነው </p>
<h4> طلحة محمد أبشيرو</h4>
<h4>ጦለሀ ሙሀመድ አብሽሮ የማህበሩ አሚር</h4>


					
		</div>
	</div>
	</div>	

</div> <!-- /.row -->
<!--about-us start -->
<div class="section-home about-us fadeIn animated">
    <br> <br>
    <div class="container container-fluid">

        <div class="row">

            <div class="col-md-3 col-lg-3 col-xl-3 col-sm-6">
            
              <div class="about-us-col">

                    <div class="col-icon-wrapper ">
                      <img src="/static/GICA/images/icons/our-mission-icon.png" alt="">
                    </div>
                    <h3 class="col-title">OUR MISSION</h3>
                    <div class="col-details">
                      <ul>
		<li> ለየቲም ልጆች፣ ለችግር የተጋለጡ ሙስሊመም የህብረተሰብ ክፍሎችና ለአቅመ ደካማ ወገኖቻችን ኢኮኖሚያዊ ድጋፍ ማድረግ። </li>
		<li> ስራ አጥ ሙሰሊም ወጣቶችንና ሴቶችን ስራ እንዲያገኙ ስልጠና መስጠትና የስራ ማስጀመሪያ ሁኔታዎችን ማመቻቸት። </li>
		<li> ሙስሊም ወጣቶች መልካም ስብዕና ያላቸው፣ ከተለያዩ ጎጂ ልማዶችና ሱሶች ተላቀው በኢስላማዊ እሲቶች የተገነቡ ንቁ ዜጎች እንዲሆኑ ማስቻል። </li>
		<li> መስጂዶች፣ መድረሳዎች፣ ቁርዓን ቤቶችና የተርቢያ ማዕከሎችን መገንባት፣ ማደስ፣ የሚጎድላቸዉን ቁሳቁስ ማሟላትና አስፈላጊዉን ድጋፍ ማድረግ። </li>
		<li> በሰዉ ሰራሸና በተፈጥሮ አደጋዎች ምክንያት ጉዳት የደረሰባቸዉን የህብረተሰብ ክፍሎች መደገፍና ማገዝ። </li>
                        </ul>
                    </div> 
              </div>
              
            </div>

            <div class="col-md-3 col-lg-3 col-xl-3 col-sm-6">
            
              <div class="about-us-col">

                    <div class="col-icon-wrapper">
                      <img src="/static/GICA/images/icons/make-donation-icon.png" alt="">
                    </div>
                    <h3 class="col-title">DONATION COLLECTION</h3>
                    <div class="col-details">

                      <p align="justify">ለፕሮጀክቶቻችን የገንዘብ ድጋፍ ማሰባሰብያ በባንክ በማስተላለፍ በሚከተለው የኢትዮጵያ ንግድ ባንክ አካውንት መፈፀም ይቻላል። : <br> <br> <center><strong > 1000328382397</center> </strong></p>
                         <a href="#" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow center-block" data-toggle="modal" data-target="#donateModal">DONATE NOW</a>
                      
                    </div>
                
              </div>
              
            </div>

            <div class="col-md-3 col-lg-3 col-xl-3 col-sm-6">
            
              <div class="about-us-col">

                    <div class="col-icon-wrapper">
                      <img src="/static/GICA/images/icons/help-icon.png" alt="">
                    </div>
                    <h3 class="col-title">HELP & SUPPORT</h3>
                    <div class="col-details">

                      <p align="justify">ለውጡ የሚጀምረው ከቤት ነው ብለን በፅኑ እናምናለን፣እናም በድርጊታችን እና በሰብአዊ ፕሮግራሞቻችን እርዳታ እና ድጋፍ ለማህበራዊ ምድቦች  በመስጠት የተሻለ አካባቢ ለመፍጠር እንሞክራለን።</p>
                      
                    </div>
                
              </div>
              
            </div>

            <div class="col-md-3 col-lg-3 col-xl-3 col-sm-6">
            
              <div class="about-us-col">

                    <div class="col-icon-wrapper">
                      <img src="/static/GICA/images/icons/programs-icon.png" alt="">
                    </div>
                    <h3 class="col-title">OUR ACTIVITIES</h3>
                    <div class="col-details">

                      <strong>ዓመታዊ ዝግጅቶች </strong>
                        <li> የረመዳን ፆመኞችን ማስፈጠር</li>
                        <li> ኢስላማዊ ተቋማትን፥ ቁርዓን ቤቶችን የማጠናከርና የማስፋፋት</li>
                        <li> የመስጂዶችን ግንባታ የማጠናከር</li>
                        <li>በኢኮኖሚ ደካማ የሆኑ ወገኖቻችን የገንዘብ ድጎማ በማድረግ ወደ ስራ እንዲመለሱና ራሳቸውን እንዲችሉና ክትትል ማድረግ</li>
                    </div>
                
              </div>
              
            </div>

        </div>

    </div>
  
    <!-- Donate Modal -->
    <div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel" aria-hidden="true">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="donateModalLabel">DONATE NOW</h4>
          </div>
          <div class="modal-body">

                <form class="form-donation">

                        <h3 class="title-style-1 text-center">Thank you for your donation <span class="title-under"></span>  </h3>

                        <div class="text-center">
                           Support us by donating via the following Banks transfer : <br> </div>
                        <h3 class="title-style-1 text-center">CBE1: 1000328382397 </h3>
                        <h3 class="title-style-1 text-center">CBE2: 1000578323833 </h3>
                        <h3 class="title-style-1 text-center">Zamzam: 0031838320101/318383 </h3>
                        <h3 class="title-style-1 text-center">Abyssiniya: 15682024 </h3>
                        <h3 class="title-style-1 text-center">Hijra: 1004246680001 </h3>
                        <h3 class="title-style-1 text-center">Oromiya: 1008700048262 </h3>
                    
                </form>
            
          </div>
        </div>
      </div>

    </div> <!-- /.modal -->
    
</div>
	<div class="our-team animate-onscroll fadeIn">

	        <div class="container">

	            <h2 class="title-style-1">Our Team <span class="title-under"></span></h2>

	            
                    <div class="row justify-content-center justify-content-md-center">
                    
	                <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/shektolha.png" alt="" class="cause-img">
	                            
	                        </div>

	                        <h4 class="member-name"><a href="#">Shek Tolha</a></h4>

	                        <div class="member-position">
	                            Association Amir
	                        </div>

	                    </div> <!-- /.team-member -->
	                    
	                </div>
	                <div class="row justify-content-center justify-content-md-center">
                    
	                <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/shektolha.png" alt="" class="cause-img">
	                            
	                        </div>

	                        <h4 class="member-name"><a href="#">Adem Legas</a></h4>

	                        <div class="member-position">
	                            Association Vice President
	                        </div>

	                    </div> <!-- /.team-member -->
	                    
	                </div>

			<div class="row justify-content-center justify-content-md-center">
                    
	                <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/shektolha.png" alt="" class="cause-img">
	                            
	                        </div>

	                        <h4 class="member-name"><a href="#">Siraj Berihun</a></h4>

	                        <div class="member-position">
	                            Association Secretary
	                        </div>

	                    </div> <!-- /.team-member -->
	                    
	                </div>
	                <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/ms.jpg" alt="" class="cause-img">
	                            
	                        </div>
	                        <h4 class="member-name"><a href="#">Oustaz Muhammed Seid</a></h4>

	                        <div class="member-position">
	                            Association Ethiopia Amir
	                        </div>

	                    </div> <!-- /.team-member -->
	                    
	                </div>
	               
	                <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/ibro.jpg" alt="" class="cause-img">
	                            
	                        </div>
                        	<h4 class="member-name"><a href="#">Dr. Ibrahim Gashaw Kassa</a></h4>
	                        <div class="member-position">
	                            Association Ethiopia Board of Director
	                        </div>

	                    </div> <!-- /.team-member -->
	                    
	                </div>
	                <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/hamza.jpg" alt="" class="cause-img">
	                            
	                        </div>

	                        <h4 class="member-name"><a href="#">Mr. Hamza Mebratie</a></h4>

	                        <div class="member-position">
	                            Project Manager
	                        </div>
     
	                    </div> <!-- /.team-member -->
	                    
	                </div>
	               
	                <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/Fmuslim.jpeg" alt="" class="cause-img">

	                        </div>

	                        <h4 class="member-name"><a href="#">Amina Abdulkadir</a></h4>

	                        <div class="member-position">
	                            Vice Project Manager
	                        </div>


	                    </div> <!-- /.team-member -->
	                    
	                </div>
			<div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/Fmuslim.jpeg" alt="" class="cause-img">

	                        </div>

	                        <h4 class="member-name"><a href="#">Feteg Seid</a></h4>

	                        <div class="member-position">
	                            Media Manager
	                        </div>


	                    </div> <!-- /.team-member -->
	                    
	                </div>
	                
	                <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/Fmuslim.jpeg" alt="" class="cause-img">

	                        </div>

	                        <h4 class="member-name"><a href="#">Muntaha Nuru</a></h4>

	                        <div class="member-position">
	                            Association Project Member
	                        </div>


	                    </div> <!-- /.team-member -->
	                    
	                </div>
	                
	                 <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/Fmuslim.jpeg" alt="" class="cause-img">

	                        </div>

	                        <h4 class="member-name"><a href="#">Aisha Ahmed</a></h4>

	                        <div class="member-position">
	                            Association Auditor and Decipline
	                        </div>


	                    </div> <!-- /.team-member -->
	                    
	                </div>
	                
	                <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/shektolha.png" alt="" class="cause-img">

	                        </div>

	                        <h4 class="member-name"><a href="#">Muhammad Berhie</a></h4>

	                        <div class="member-position">
	                            Association Head of Members
	                        </div>


	                    </div> <!-- /.team-member -->
	                    
	                </div>
	                
	                <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/shektolha.png" alt="" class="cause-img">

	                        </div>

	                        <h4 class="member-name"><a href="#">Ahmed Isa</a></h4>

	                        <div class="member-position">
	                            Association Audtor
	                        </div>


	                    </div> <!-- /.team-member -->
	                    
	                </div>
	                <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/shektolha.png" alt="" class="cause-img">

	                        </div>

	                        <h4 class="member-name"><a href="#">Hamid Faris</a></h4>

	                        <div class="member-position">
	                            Association Councel Member
	                        </div>


	                    </div> <!-- /.team-member -->
	                    
	                </div>
	                
	                <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/shektolha.png" alt="" class="cause-img">

	                        </div>

	                        <h4 class="member-name"><a href="#">Kedir Abdurehman</a></h4>

	                        <div class="member-position">
	                            Association Head of Education and Daawa
	                        </div>


	                    </div> <!-- /.team-member -->
	                    
	                </div>

	                <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/mmusa.jpg" alt="" class="cause-img">
	                            
	                        </div>

	                        <h4 class="member-name"><a href="#">Mr. Muhammad Mussa</a></h4>

	                        <div class="member-position">
	                           Association Ethiopia Manager
	                        </div>

	                    </div> <!-- /.team-member -->
	                    
	                </div>
	                 	 
	                <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/Nurhusen.jpg" alt="" class="cause-img">
	                            
	                        </div>
	                        <h4 class="member-name"><a href="#">Nurhusen </a></h4>

	                        <div class="member-position">
	                            Managing Committee Member
	                        </div>

	                    </div> <!-- /.team-member -->
	                    
	                </div>	    

	                <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/yehya.jpg" alt="" class="cause-img">
	                            
	                        </div>

	                        <h4 class="member-name"><a href="#">Dr. Yehya Ali</a></h4>

	                        <div class="member-position">
	                            Association Ethiopia Auditor
	                        </div>

	                    </div> <!-- /.team-member -->
	                    
	                </div>
	                <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="/static/GICA/images/gallery/mmdseid.jpg" alt="" class="cause-img">
	                            
	                        </div>

	                        <h4 class="member-name"><a href="#">Mr. Muhammad Seid Wale</a></h4>

	                        <div class="member-position">
	                            Association Ethiopian Accountant
	                        </div>

	                    </div> <!-- /.team-member -->
	                    
	                </div>

	               </div>

	        </div>

	    </div>
		

	</div>

{% endblock content %}
