{% load static %}
<!DOCTYPE html>
<html class="no-js">
    <head>
      <style>
        body { 
  background: url('./static/GICA/images/Background.png') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}   /*
        .carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  min-height: 220px;  
  min-width: 520px; 
          }
    </style>
    
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MM8Z4V6');</script>
<!-- End Google Tag Manager -->
        
<meta name="title" content="Gonda International Charity Association">
<meta name="description" content="Gonder Alemaqef Islamic Association mission is to protect, motivate, educate, care for and help build people in difficulty.">
<meta name="keywords" content="GONDAR , CHARITY ,  Gondar Charity, , Gondar_charity , #Gondarcharity, charity, cooperation , together_we_can_make_difference , help_others , be human be helpful , be_human , be_helpful">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">

<meta charset="utf-8">
<meta http-equiv="refresh" content=""> 
<title>Gonder Alemaqef Islamic Association </title>
<meta name="description" content="Gonder Alemaqef Islamic Association, abbreviated as GAIA, has set itself the task of protecting, repairing, motivating, educating, caring for and helping to build people in difficulty. The values and the principles of action of the association find their concretization in the associative project and the principles of accompaniment of the fragile public.">
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>

        <link rel="shortcut icon" type="image/png" href="/static/GICA/images/icon.png"/>
        <link rel="fluid-icon" type="image/png" href="/static/GICA/images/icon.png" title="Gondar International"/>

        <!-- Bootsrap -->
        <link rel="stylesheet" href="/static/GICA/css/bootstrap.min.css">

        <!-- Font awesome -->
        <link rel="stylesheet" href="/static/GICA/css/font-awesome.min.css">

        <!-- Owl carousel -->
        <link rel="stylesheet" href="/static/GICA/css/owl.carousel.css">

        <!-- Template main Css -->
        <link rel="stylesheet" href="/static/GICA/css/style.css">
        
        <!-- Modernizr -->
        <script src="/static/GICA/js/modernizr-2.6.2.min.js"></script>
        {% block head %}
    {% endblock%}

    <!-- CHANGES THE PAGE TITLE IF THE VARIABLE "title" IS PASSED BY THE VIEW -->
    {% if title %}
        <title>{{title}}</title>
    {% else %}
    <!-- USE DEFAULT TITLE TEXT IF NO VARIABLE "title" IS PASSED BY THE VIEW -->
        <title>Gonder Alemaqef Islamic Association</title>
    {% endif %}
        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MM8Z4V6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
        <header class="main-header bg-primary text-white">
        <nav class="navbar navbar-static-top" style="background-color: #e10dfd">
            <div class="navbar-top">
              <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <ul class="list-unstyled list-inline header-contact">
                            <li> <i class="fa fa-phone"></i> <a href="tel:">+251 9 13 67 74 68</a></li>
                             <li> <i class="fa fa-envelope"></i> <a href="mailto:gonderalemaqef2016@gmail.com">gonderalemakef2016@gmail.com</a> </li>
                       </ul> <!-- /.header-contact  -->
  			<div id="google_translate_element" class="text-right"></div>

			<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
			</script>

			<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                    </div>
                    <div class="col-sm-6 col-xs-12 text-right">

                        <ul class="list-unstyled list-inline header-social">

                            <li> <a href="https://www.facebook.com/GONDAR.CHARITY"> <i class="fa fa-facebook"></i> </a> </li>
                            <li> <a href="https://www.instagram.com/GONDAR_charity/"> <i class="fa fa-instagram"></i>  </a> </li>
                            <li> <a href="https://www.linkedin.com/in/GONDAR-charity-677468"> <i class="fa fa-linkedin"></i>  </a> </li>
                            <li> <i class="fa fa-envelope"></i> <a href="mailto:gonderalemaqef2016@gmail.com"></a> </li>
                          
                       </ul> <!-- /.header-social  -->
                      
                    </div>

                  </div>
              </div>

            </div>

            <div class="navbar-main text-white">
              
              <div class="container text-white">

                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                  </button>
                  <a class="navbar-brand"><img src="/static/GICA/images/icon.png" alt="" style="max-height: 60px; " title= "Gondar Alemaqef"></a>                  
                </div>
                <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
            <ul class="nav navbar-nav">
              <li><a class="nav-item nav-link" href="{% url 'home' %}">Home</a></li>
              <li><a class="nav-item nav-link" href="{% url 'about' %}">About Us</a></li>
              <li><a class="has-child" href="{% url 'project1' %}">Projects</a>
              <li><a class="has-child" href="#Membership">Membership</a>
                      <ul class="submenu">
                       {% if user.is_superuser %}<li class="submenu-item"><a href="{% url 'memberslist' %}">Members List</a></li> {% endif %}
                         <li class="submenu-item"><a href="{% url 'register' %}">New Registration</a></li>
                      </ul>
                    </li>
              {% if user.is_superuser %}<li><a class="nav-item nav-link" href="{% url 'allpayment' %}">Payment List</a></li>{% endif %}
              <li><a class="has-child" href="#Donation">Donation</a>
                      <ul class="submenu">
              	<li class="submenu-item"><a href="{% url 'donate' %}">Donation Registration</a></li>
              	<li class="submenu-item"><a href="{% url 'donateniya' %}">Niya Registration</a></li>
              	</ul>
              <li><a class="nav-item nav-link" href="{% url 'islamicevents' %}">Events</a></li>
              <li><a class="nav-item nav-link" href="{% url 'news' %}">News Feed</a></li>
              <li><a class="nav-item nav-link" href="{% url 'contact' %}">Contact Us</a></li>
            <!-- Navbar Right Side -->
            	<li><a class="nav-item nav-link">  </a></li>
              {% if user.is_authenticated %}
              <li><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>
              <li><a href="{% url 'admin:index' %}">Admin</a></li>
              {% else %}
              <li><a class="nav-item nav-link" href="{% url 'login' %}">Login</a></li>
              {% endif %}
              <li><!--<a class="nav-item nav-link" href="#">Register</a>--></li>
            
             </ul>
            </div>
           </div> <!-- /.container -->
              
          </div> <!-- /.navbar-main -->
          </div>
        </nav>
        </header>
    </head>

      <!-- footer -->
    <body>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
    </body>
      <footer class="main-footer">
      <div class="footer-main">
          <div class="footer">

              <div class="row">
                  <div class="col-md-3">

                      <div class="footer-col">

                          <h4 class="footer-title">About us <span class="title-under"></span></h4>

                          <div class="footer-content">

                              <p>
                                  <strong>Gonder Alemaqef Islamic Association, abbreviated as GAIA, has set itself the task of protecting, repairing, motivating, educating, caring for and helping to build people in difficulty. The values and the principles of action of the association find their concretization in the associative project and the principles of accompaniment of the fragile public.</strong></p>

                          </div>

                      </div>

                  </div>

                  <div class="col-md-3">

                      <div class="footer-col">

                          <h4 class="footer-title ">Useful links<span class="title-under"></span></h4>

                          <div class="footer-content">
                              <ul class=" list-unstyled ">
                                <li> &nbsp; &nbsp; &nbsp;   <a href="{% url 'home' %}"> <strong> > </strong> Gondar Charity Home page </a> </li> <br><br>
                                <li> &nbsp;  &nbsp; &nbsp;  <a href="{% url 'project1' %}"> <strong> > </strong> Gondar Charity projects </a> </li> <br><br>
                                <li> &nbsp;  &nbsp; &nbsp;  <a href="{% url 'about' %}"> <strong> > </strong> Who are we ?</a> </li> <br> <br>
                                <li> &nbsp;  &nbsp; &nbsp; <a href="{% url 'islamicevents' %}"> <strong> > </strong> Previous Activities</a> </li> <br><br>
                              </ul>

                          </div>

                      </div>
                  </div>

                  <div class="col-md-3">

                      <div class="footer-col">

                          <h4 class="footer-title"> Find Us<span class="title-under"></span></h4>

                          <div class="footer-content">

                              <div class="tweet "> <center>
                                  <i class="fa fa-map-marker fa-2x"> </i>North Gondar, Arada Jamialkabir</center>
                              </div>

                              <div class="tweet">  <center>
                                  We are active on Social media : <br>
                                  <ul class="list-unstyled list-inline header-social text-center">

                                      <li> <a href="https://www.facebook.com/Gondar.CHARITY"> <i class="fa fa-facebook"></i> </a> </li>
                                      <li> <a href="https://www.instagram.com/Gondar_charity/"> <i class="fa fa-instagram"></i>  </a> </li>
                                      <li> <a href="https://www.linkedin.com/in/Gondar-charity-677468"> <i class="fa fa-linkedin"></i>  </a>
                                      <li> <i class="fa fa-envelope"></i> <a href="mailto:gonderalemaqef2016@gmail.com"></a> </li>
                                      </ul>
                              
                              </center>
                              </div>

                                  <div class="tweet">
                                      <center>
                                     Call us! <div class=" text-center"><br> <a href="tel:+251 913677468"> Telephone : <i class="fa fa-phone"> </i></a>
                                      &nbsp; on &nbsp; <a href="http://wa.me/251913677468"> Whatsapp : <i class="fa fa-whatsapp"></i> </a></div>
                                      </center></div>

                                  <div class="tweet "> <center>
                                      Do you want to Support us ? <br> <br>
                                           <div class="btn-holder text-center">
                                              <a href="#" class="btn btn-primary" style="font-size: 12px;" data-toggle="modal" data-target="#donateModal"> DONATE NOW</a>
                                          </div>
                                  </center> </div>
                              </ul>
                              </ul>
                          </div>

                      </div>
                  </div>


                  <div class="col-md-3">

                      <div class="footer-col">

                          <h4 class="footer-title">Contact us <span class="title-under"></span></h4>

                          <div class="footer-content">

                              <div class="footer-form">

                                  <div class="footer-form" >

                                  <form target="_self" action="https://formsubmit.co/gonderalemaqef2016@gmail.com" method="POST"> <br>

                                      <div class="form-group">
                                          <input type="text" name="name" class="form-control" placeholder="Name" required>
                                      </div>
                                      <br>

                                       <div class="form-group">
                                          <input type="email" name="email" class="form-control" placeholder="E-mail" required>
                                      </div>
                                      <br>

                                      <div class="form-group">
                                          <textarea name="message" class="form-control" placeholder="Message" required></textarea>
                                      </div>
                                      <br>



                                       <div class="form-group">
                                          <button type="submit" class="btn btn-submit center-block">Send message</button>
                                      </div>

                                  </form>

                              </div>

                              </div>
                          </div>

                      </div>

                  </div>
                  <div class="clearfix"></div>


              </div>


          </div>


      </div>

      <div class="footer-bottom">

          <div class="container text-center ">
               Made with <a href="https://hamidabdellaoui.netlify.app"><i class="fa fa-heart"></i></a> <strong>Gonder Alemaqef Islamic Association</strong> <script> document.write(new Date().getFullYear());</script> &COPY; | All Rights Reserved
          </div>
      </div>

  </footer> <!-- main-footer -->

    <!-- Donate Modal -->
    <div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel" aria-hidden="true">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="donateModalLabel">DONATE NOW</h4>
          </div>
          <div class="modal-body">

                <form class="form-donation">


                        <h3 class="title-style-1 text-center">Thank you for your donation <span class="title-under"></span>  </h3>

                        <div class="text-center">
                           Support us by donating via the following Banks transfer : <br> </div>
                        <h3 class="title-style-1 text-center">CBE1: 1000328382397 </h3>
                        <h3 class="title-style-1 text-center">CBE2: 1000578323833 </h3>
                        <h3 class="title-style-1 text-center">Zamzam: 0031838320101/318383 </h3>
                        <h3 class="title-style-1 text-center">Abyssiniya: 15682024 </h3>
                        <h3 class="title-style-1 text-center">Hijra: 1004246680001 </h3>
                        <h3 class="title-style-1 text-center">Oromiya: 1008700048262 </h3>

                </form>

          </div>
        </div>
      </div>

    </div> <!-- /.modal -->



    <!--  Scripts
    ================================================== -->

    <!-- jQuery -->
    <script src="/static/GICA/js/jquery-1.11.1.min.js"></script>

    <!-- Bootsrap javascript file -->
    <script src="/static/GICA/js/bootstrap.min.js"></script>

    <!-- owl carouseljavascript file -->
    <script src="/static/GICA/js/owl.carousel.min.js"></script>

    <!-- Template main javascript -->
    <script src="/static/GICA/js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>-->
</html>
