{% extends "GICA/base.html" %}
{% load i18n %}
{% block title %} Contact Us Page {% endblock title%}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1 {text-align: center;}
div {text-align: center;}
</style>

<h1> Contact us on the following links and forms </h1>
                  <div class="col-md-3">

                      <div>
                          <h4> Find Us <span class="title-under"></span></h4>

                          <div>
                              <ul class="tweets list-unstyled">

                                  <li class="tweet "> <center> 
                                      <i class="fa fa-map-marker fa-2x"> </i>North Gondar, Arada Jamialkabir</center>
                                  </li>

                                  <li class="tweet">  <center> 
                                      We are active on Social media : <br>
                                      <ul class="list-unstyled list-inline header-social text-center">
                                           
                                        <li> <a href="https://www.facebook.com/Abumuhammed Gashaw"> <i class="fa fa-facebook" style="font-size:36px"></i> </a> </li>
                                      <li> <a href="https://www.t.me/Gonderketm/"> <i class="fa fa-telegram" style="font-size:36px"></i>  </a> </li>
                                        <li> <a href="https://www.linkedin.com/in/Gondar-charity-677468"> <i class="fa fa-linkedin" style="font-size:36px"></i>  </a> </li>
                                       </a> </li>
                                        <li> <i class="fa fa-envelope" style="font-size:36px"></i> <a href="mailto:gonderalemaqef2016@gmail.com" ></a> </li>
                                   </ul> 
                                  </li>     </center>

                                  <li class="tweet "> <center> 
                                     Call us! <div class=" text-center"><br> <a href="tel:+251 913677468"> Telephone : <i class="fa fa-phone"> </i></a>
                                      &nbsp; on &nbsp; <a href="http://wa.me/251913677468"> Whatsapp : <i class="fa fa-whatsapp"></i> </a></div> 
                                  
                          </div>
                          
                      </div>
                  </div>

    <div class="col-md-3">

                      <div >

                          <h4>Contact us <span class="title-under"></span></h4>

                          <div class="content">

                              <div class="form">
                                  
                                  <div class="form" >
                                  
                                  <form target="_self" action="https://formsubmit.co/gonderalemaqef2016@gmail.com" method="POST"> <br>

                                      <div class="form-group">
                                          <input type="text" name="name" class="form-control" placeholder="Name" required>
                                      </div>
                                      <br>

                                       <div class="form-group">
                                          <input type="email" name="email" class="form-control" placeholder="E-mail" required>
                                      </div>
                                      <br>

                                      <div class="form-group">
                                          <textarea name="message" class="form-control" placeholder="Message" required></textarea>
                                      </div>
                                      <br>

                                       <div class="form-group">
                                          <button type="submit" class="btn btn-submit center-block">Send message</button>
                                      </div>
                                      
                                  </form>

                              </div>

                              </div>
                          </div>
                          
                      </div>

                  </div>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}
