{% extends "GICA/base.html" %}
{% block content %}
<style>
h1 {text-align: center;}
h3 {text-align: center;}
</style>
    {% for new in news %}
    	<div class="container container-fluid">
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <strong class="text-muted">Posted Date:{{ new.date_posted|date:"F d, Y" }}</strong>
            </div>
            <h2><a class="article-title" href="#">{{ new.title }}</a></h2>
            <p align="justify" style="font-weight: bold; color: blue; font-size: 14px;">{{ new.content }}</p>
          </div>
        </article>
        </div>
    {% endfor %}
{% endblock content %}
